<html>
<head>
  <title>TWIGS</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
</head>
<body>
<div id='container'>

<h1 class='debug'>Twigs</h1>
<h2 class='debug'>Subjects</h2>


  <div id="sub-list" class='debug'>


  </div>


<!-- templates -->
<!-- for subject link -->
<script type="text/template" id="subject-template">
  <a href="http://localhost:3000/subject/<%= id %>"> <%= title %> </a>
</script>



</div>
<link rel="stylesheet" type="text/css" href="style.css">
<script type="text/javascript" src="/Users/apprentice/Desktop/twigs/public/backbone/application.js"></script>
<script type="text/javascript" src="/Users/apprentice/Desktop/twigs/public/backbone/views/subjects.js"></script>
<script type="text/javascript" src="/Users/apprentice/Desktop/twigs/public/backbone/models/subjects.js"></script>

</body>
</html>
